@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
  }
  
@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}
  
@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}
  
@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

*{
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    font-weight: normal;
    scroll-behavior: smooth;
}


header{
    position: fixed;
    z-index: 10;
    height: 89px;
    width: 100%;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.burger{
    overflow: hidden;
}

.burger-menu{
    display: none;
}

.head h1{
    margin: 29px 0 0 40px;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #ffffff;
    font-family: "Lato Bold";
    display: inline-block;
    position: absolute;
}

span{
    color: #f06c64;
}


.head ul{
    width: 375px;
    height: 14px;
    margin: 42px 24px 0 0;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    float: right;
    text-transform: uppercase;
    letter-spacing: -0.035em;
}

.head li+li:before{
    color: #494e62;
    content: "\00B7";
    margin: 12px;
}

.head a{
    color: white;
    text-decoration: wavy;
}

.head a:hover{
    color: rgb(240, 108, 100);
    text-decoration: wavy;
}

.head li{
    display: inline;
    cursor: pointer;
}

.head .active-nav{
    color: #f06c64;
}

.slider {
    padding-top: 94px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background-color: #f2f2f2;
}

.slides-container {
    position: relative;
    max-width: 1020px;
    width: 100%;
    overflow: hidden;
    margin: auto;

}

.slide {
    position: relative;
    display: none;
    animation: .4s ease-in-out;
}

.slide-image{
    display: block;
    width: 100%;
}

.showing,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8%;
}

.prev-button,
.next-button {
    height: 100%;
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.next-button {
    right: 0;
    left: auto;
}

.arrow-img{
    height: auto;
    width: 20%;
}

.slider button:hover {
    background-color: #0001;
}

.screen {
    position: absolute;
    opacity: 0;
    transition: .3s;
}

.screen.left {
    width: calc(194 / 1020 * 100%);
    top: calc(116 / 600 * 100% - 2em);
    left: calc(123 / 1020 * 100%);
    padding: 2em 0;   
}

.screen.right {
    width: calc(193 / 1020 * 100%);
    top: calc(116 / 600 * 100%);
    left: calc(555 / 1020 * 100% - 2em);
    padding: 0 2em;   
    transform: rotate(90deg)
}

.to-left {
    animation-name: left;
}

.from-right {
    animation-name: right;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.services{
    padding: 59px 40px 38px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}

.services h2{
    margin: 0;
    font-family: Bold;
    font-size: 30px;
    color: #666d89;
    font-family: "Lato Black", sans-serif;
    text-align: left;   
    margin-bottom: 18px;
}

.services p{
    display: block;
    color: #767e9e;
    margin: 0;
}

.services h3{
    display: block;
    font-size: 18px;
    font-family: "Lato Bold", sans-serif;
    text-transform: capitalize;
    margin-top: 18px;
    color: #666d89;
    margin-bottom: 8px;
}

.description{
    font-size: 18px;
    font-family: "Lato Light", sans-serif;
    text-align: justify;
    line-height: 30px;
}

.service-grid{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    grid-row-gap: 10px;
    overflow: hidden;
}

.service-item{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 20px;
}

.service-grid p{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -.002em;
    text-align: justify;
}

.service-icon{
    margin-top: 22px;
}

.portfolio{
    color: #666d89;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 60px 40px 66px;
    
}

.portfolio h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    text-align: left;
    display: inline-block;
    letter-spacing: 0.01em;
}

.portfolio p{
    font-family: "Lato Light", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    text-align: left;
    margin-top: 14px;
}

.portfolio_nav{
    display: flex;
    padding: 19px 0;
    align-items: center;
}

.nav-item{
    color: #767e9e;
    background-color: transparent;
    border: 1px solid #767e9e;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    line-height: 18px;
    font-size: 12px;
}

.active{
    color: #dedede;;
    border: 1px solid #c5c5c5;
    transition: .3s;
}

.active-img {
    box-sizing: border-box;
    border: solid 5px #F06C64;
    transition: .3s;
}

.portfolio_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.portfolio_grid div img{
    display: block;
    width: 100%;
}

.about{
    background-color: #f2f2f2;
    border-bottom: 5px solid white;
    padding: 33px 30px 0px;
}

.about h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    text-align: left;
    letter-spacing: -0.005em;
    
}

.about p{
    font-family: "Lato Light", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    text-align: left;
    letter-spacing: -0.01em;
    margin: 14px 0;
}

.employee{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    overflow: hidden;
}

.photo{
    margin-bottom: 14px;
}

.employee-item h3{
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    text-align: left;
    letter-spacing: -0.003em;
}

.employee-item p{
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato Regular";
    text-align: left;
    letter-spacing: -0.03em;
}

.employee-item img{
    margin-right: 4px;
}

.quote{
    background-color: #f06c64;
    padding: 69px 40px 17px;
    border-bottom: 6px solid #ea676b;
}


.quote h1{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato Black";
    text-align: left;
    margin-bottom: 27px;
    letter-spacing: -0.01em;
}

.quote p{
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato Light";
    text-align: justify;
    letter-spacing: -0.013em;
    margin-bottom: 31px;
}

.feedback{
    display: grid;
    grid-template-columns: calc(619 / 940 * 100%) 1fr;;
    column-gap: 20px;
}

input::-webkit-input-placeholder{ 
    color: #f2888b;
}

input::-moz-placeholder {
    color: #f2888b; 
}

#submit{
    cursor: pointer;
    height: 25px;
    width: 100px;
    font-family: "Lato Bold";
    text-align: center;
    padding: 0px 20px;
    color: #ea676b;
    border-radius: 5px ;
    border: none;
    background-color: #FBC65F;
}

input, textarea{
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 16px;
    font-size: 12px;
    background-color: #d6564f;
    color: #f0d8d9;
    outline: none;
}

textarea{
    margin-bottom: 10px;
    height: 191px;
    line-height: 22px;
    background-color: #d6564f;
    resize: none;
}

textarea::placeholder{
    color: #f2888b;
}

.contact-info h2{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato Black";
    text-align: left;
    margin-bottom: 10px;
}

.contact-info p{
    margin-bottom: 20px;
    max-width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    letter-spacing: -0.03em;
    word-spacing: -0.03em;
    font-family: "Lato Regular", Bold;
}

.contact-item img{
    margin-right: 6px;
}

.contact-item p{
    display: inline;
    cursor: pointer;
}

.contact-item a{
    text-decoration: none;
    color: #f0d8d9;
}

.hidden{
    display: none;
}

#message{
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0005;
}

.pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #f2f2f2;
    border: 5px solid #767e9e;
    border-radius: 5px;
}

.pop-up h3{
    margin: 10px;
    color: #f2888b;
    font-family: 'Lato Bold';
}

.pop-up p{
    margin: 30px 20px;
    height: 10px;
    max-height: 300px;
    font-family: 'Lato Light';
    color: #f2888b;
}

.close-button {
    height: 30px;
    width: 50px;
    background-color: #767e9e;
    color: #f2f2f2;
    border-radius: 8px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

footer{
    height: 76px;
    background-color: #2d303a;
}

.footer{
    display: inline-block;
}

.footer p{
    margin: 31px 42px;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #656d89;
}

.social-media{
    margin-top: 23px;
    margin-right: 36px;
    float: right;
}

.social-media a{
    margin-right: 4px;
    cursor: pointer;
}

@media (max-width: 1019px){
    .service-grid{
        grid-template-columns: 1fr 1fr;
        margin-top: 28px;
        column-gap: 39px;
        grid-row-gap: 53px; 
    }

    .portfolio_grid{
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .employee{
        margin-left: 40px;
    }
}

@media (max-width: 767px){
    header{
        height: 71px;
        padding: 0;
    }

    .burger-menu{
        display: inline-block;
        margin: 24px 29px 0 20px;
        position: absolute;
        cursor: pointer;
        z-index: 12;
        transition: 0.5s;
    }

    .active-burger img{
        transform: rotate(90deg);
        z-index: 15;
        cursor: pointer;
        transition: 0.5s;
    }

    .head h1{
        margin: 20px 0 0;
        z-index: 11;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    
    .active-burger h1{
        width: 278px;
        transition: 0.5s;
    }
    
    span{
        color: #f06c64;
    }

    .blur{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #2d303a;
        opacity: 0.6;
    
    }

    .hidden{
        display: none;
    }

    .head ul{
        display: none;
    }

    .active-burger ul{
        transition: 0.5s;
        display: block;
        position: fixed;
        width: 278px;
        height: 100%;
        z-index: 5;
        padding-left: 20px;
        background: #2d303a;
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        margin: 0;
        padding: 0;
        float: left;
    }

    #menu{
        width: 278px;
        padding-top: 232px;
    }

    .active-burger a{
        color: white;
        text-decoration: wavy;
        margin: 0 0 27px 71px;
    }
    
    .active-burger a:hover{
        color: rgb(240, 108, 100);
        text-decoration: wavy;
        
    }
    
    .active-burger li{
        display: block;
        cursor: pointer;
        margin-bottom: 27px;
        
    }
    
    .active-burger .active-nav{
        color: #f06c64;
        font: 24px "Lato Bold";
        
    }

    .active-burger ul li a{
        margin: 0 0 27px 71px;
        font: 24px "Lato Bold";
    }

    .active-burger li+li:before{
        display: none;
    }

    .slider {
        padding-top: 77px;
    }

    .services{
        padding: 25px 32px 38px;
    }

    .service-grid{
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
        margin-top: 25px;
    }

    .portfolio_nav {
        margin: 11px 1px 20px;
        padding: 0;
    }

    .portfolio p {
        margin-bottom: 10px;
    }

    .portfolio_grid {
        list-style: none;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        gap: 13px;
        align-items: center;
    }
    .portfolio_grid div:nth-child(n + 9) {
        display: none;
    }

    .employee{
        margin: 0;
        grid-template-columns: 1fr;
        gap: 34px;
        text-align: center;
    }

    .employee-item{
        width: 100%;
    }

    .photo{
        width: 100%;
    }

    .feedback{
        display: block;
    }

    #submit{
        height: 50px;
        width: 100%;
        padding: 0px 20px;
    }

    #form{
        margin-bottom: 32px;
    }

    .footer{
        display: none;
    }

    .social-media {
        margin: 0;
        padding-top: 20px;
        float: none;
        text-align: center;
    }
}

@media (max-width: 374px) {
    .portfolio_nav {
      line-height: 14px;
      font-size: 9px;
    }
}